In [1]:
import mlflow

In [2]:
mlflow.__version__

'2.22.0'

In [3]:
# no tracking_uri set, so we use the local path
print(f"tracking URI: '{mlflow.get_tracking_uri()}'")

tracking URI: 'file:///home/habeeb/Mlops-proj/02-experimental_tracking/homework_dtc_solution/mlruns'

In [4]:
import importlib.util
import sys
import os

# Define full path to the module
module_path = "../../01-intro/NYC_trip_duration_pred.py"  # adjust as needed

# Load the module dynamically
spec = importlib.util.spec_from_file_location("NYCTaxiModule", module_path)
module = importlib.util.module_from_spec(spec)
spec.loader.exec_module(module)


nyc = module.NYCTaxiDurationPredictor()

In [5]:
df_jan2301 = nyc.download_data(year=2023, month=1, taxi='green')
df_jan2301

Downloading data from https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-01.parquet
Downloaded 68211 records

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2023-01-01 00:26:10,2023-01-01 00:37:11,N,1.0,166,143,1.0,2.58,14.90,1.0,0.5,4.03,0.0,None,1.0,24.18,1.0,1.0,2.75
1,2,2023-01-01 00:51:03,2023-01-01 00:57:49,N,1.0,24,43,1.0,1.81,10.70,1.0,0.5,2.64,0.0,None,1.0,15.84,1.0,1.0,0.00
2,2,2023-01-01 00:35:12,2023-01-01 00:41:32,N,1.0,223,179,1.0,0.00,7.20,1.0,0.5,1.94,0.0,None,1.0,11.64,1.0,1.0,0.00
3,1,2023-01-01 00:13:14,2023-01-01 00:19:03,N,1.0,41,238,1.0,1.30,6.50,0.5,1.5,1.70,0.0,None,1.0,10.20,1.0,1.0,0.00
4,1,2023-01-01 00:33:04,2023-01-01 00:39:02,N,1.0,41,74,1.0,1.10,6.00,0.5,1.5,0.00,0.0,None,1.0,8.00,1.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68206,2,2023-01-31 22:29:00,2023-01-31 22:42:00,None,NaN,49,62,NaN,4070.82,15.70,0.0,0.0,0.00,0.0,None,1.0,16.70,NaN,NaN,NaN
68207,2,2023-01-31 22:40:00,2023-01-31 22:48:00,None,NaN,10,205,NaN,2.14,4.41,0.0,0.0,0.00,0.0,None,1.0,5.41,NaN,NaN,NaN
68208,2,2023-01-31 23:46:00,2023-02-01 00:02:00,None,NaN,66,37,NaN,3.44,16.53,0.0,0.0,3.51,0.0,None,1.0,21.04,NaN,NaN,NaN
68209,2,2023-01-31 23:01:00,2023-01-31 23:19:00,None,NaN,225,189,NaN,3.03,14.98,0.0,0.0,3.20,0.0,None,1.0,19.18,NaN,NaN,NaN
68210,2,2023-01-31 23:51:00,2023-02-01 00:07:00,None,NaN,256,140,NaN,5.82,23.65,0.0,0.0,2.00,0.0,None,1.0,29.40,NaN,NaN,NaN

In [6]:
df_jan2301.to_parquet("/home/habeeb/Mlops-proj/02-experimental_tracking/data/green_tripdata_2023-01.parquet")

In [7]:
df_feb2302 = nyc.download_data(year=2023, month=2, taxi='green')
df_feb2302

Downloading data from https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-02.parquet
Downloaded 64809 records

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1,2023-02-01 00:46:22,2023-02-01 01:05:57,N,1.0,74,265,1.0,10.80,42.90,1.0,1.5,0.00,0.0,NaN,1.0,45.40,2.0,1.0,0.00
1,2,2023-02-01 00:05:09,2023-02-01 00:22:42,N,1.0,216,196,1.0,4.76,23.30,1.0,0.5,0.00,0.0,NaN,1.0,25.80,2.0,1.0,0.00
2,2,2023-02-01 00:03:47,2023-02-01 00:27:30,N,1.0,7,114,1.0,6.32,30.30,1.0,0.5,8.89,0.0,NaN,1.0,44.44,1.0,1.0,2.75
3,2,2023-01-31 23:30:56,2023-01-31 23:51:40,N,1.0,74,239,1.0,3.50,16.30,1.0,0.5,0.00,0.0,NaN,1.0,21.55,2.0,1.0,2.75
4,2,2023-02-01 00:15:05,2023-02-01 00:26:02,N,1.0,82,223,1.0,3.14,17.00,1.0,0.5,0.00,0.0,NaN,1.0,19.50,2.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64804,2,2023-02-28 21:49:00,2023-02-28 22:04:00,None,NaN,7,263,NaN,3.83,16.70,0.0,0.0,2.00,0.0,NaN,1.0,22.45,NaN,NaN,NaN
64805,2,2023-02-28 21:05:00,2023-02-28 21:08:00,None,NaN,41,42,NaN,0.67,12.95,0.0,0.0,2.79,0.0,NaN,1.0,16.74,NaN,NaN,NaN
64806,2,2023-02-28 22:42:00,2023-02-28 22:59:00,None,NaN,166,141,NaN,3.91,19.60,0.0,0.0,3.50,0.0,NaN,1.0,26.85,NaN,NaN,NaN
64807,2,2023-02-28 23:21:00,2023-02-28 23:38:00,None,NaN,41,244,NaN,4.54,19.36,0.0,0.0,4.07,0.0,NaN,1.0,24.43,NaN,NaN,NaN
64808,2,2023-02-28 23:10:00,2023-02-28 23:15:00,None,NaN,75,140,NaN,2.61,13.18,0.0,0.0,3.39,0.0,NaN,1.0,20.32,NaN,NaN,NaN

In [8]:
df_feb2302.to_parquet("/home/habeeb/Mlops-proj/02-experimental_tracking/data/green_tripdata_2023-02.parquet")

In [9]:
df_mar2303 = nyc.download_data(year=2023, month=3, taxi='green')
df_mar2303

Downloading data from https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-03.parquet
Downloaded 72044 records

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2023-03-01 00:25:10,2023-03-01 00:35:47,N,1.0,82,196,1.0,2.36,13.50,1.0,0.5,0.00,0.00,NaN,1.0,16.00,2.0,1.0,0.00
1,2,2023-03-01 00:14:29,2023-03-01 00:25:04,N,1.0,7,7,1.0,0.78,-6.50,-1.0,-0.5,0.00,0.00,NaN,-1.0,-9.00,3.0,1.0,0.00
2,2,2023-03-01 00:14:29,2023-03-01 00:25:04,N,1.0,7,7,1.0,0.78,6.50,1.0,0.5,0.00,0.00,NaN,1.0,9.00,3.0,1.0,0.00
3,2,2023-02-28 22:59:46,2023-02-28 23:08:38,N,1.0,166,74,1.0,1.66,11.40,1.0,0.5,2.78,0.00,NaN,1.0,16.68,1.0,1.0,0.00
4,2,2023-03-01 00:54:03,2023-03-01 01:03:14,N,1.0,236,229,1.0,3.14,15.60,1.0,0.5,4.17,0.00,NaN,1.0,25.02,1.0,1.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72039,2,2023-03-31 23:33:00,2023-03-31 23:45:00,None,NaN,25,144,NaN,2.93,16.46,0.0,0.0,4.04,0.00,NaN,1.0,24.25,NaN,NaN,NaN
72040,2,2023-03-31 23:27:00,2023-03-31 23:53:00,None,NaN,36,236,NaN,8.49,34.66,0.0,0.0,7.68,0.00,NaN,1.0,46.09,NaN,NaN,NaN
72041,2,2023-03-31 23:09:00,2023-03-31 23:40:00,None,NaN,42,225,NaN,12.27,41.79,0.0,0.0,7.40,6.55,NaN,1.0,56.74,NaN,NaN,NaN
72042,2,2023-03-31 23:39:00,2023-04-01 00:01:00,None,NaN,80,189,NaN,4.42,17.82,0.0,0.0,1.94,0.00,NaN,1.0,20.76,NaN,NaN,NaN
72043,2,2023-03-31 23:38:00,2023-03-31 23:53:00,None,NaN,256,66,NaN,2.96,16.42,0.0,0.0,1.00,0.00,NaN,1.0,18.42,NaN,NaN,NaN

In [10]:
df_mar2303.to_parquet("/home/habeeb/Mlops-proj/02-experimental_tracking/data/green_tripdata_2023-03.parquet")

In [ ]:
# mlflow ui --port 5000

2025/05/26 14:18:41 INFO mlflow.tracking.fluent: Experiment with name 'nyc-taxi-experiment-homework2' does not exist. Creating a new experiment.

<Experiment: artifact_location='mlflow-artifacts:/297665865818173535', creation_time=1748290721659, experiment_id='297665865818173535', last_update_time=1748290721659, lifecycle_stage='active', name='nyc-taxi-experiment-homework2', tags={}>

In [11]:
!python /home/habeeb/Mlops-proj/02-experimental_tracking/homework_dtc_solution/preprocess_data.py --raw_data_path /home/habeeb/Mlops-proj/02-experimental_tracking/data --dest_path /home/habeeb/Mlops-proj/02-experimental_tracking/output

In [12]:
!python /home/habeeb/Mlops-proj/02-experimental_tracking/homework_dtc_solution/train.py --data_path /home/habeeb/Mlops-proj/02-experimental_tracking/output

2025/05/26 19:41:38 INFO mlflow.tracking.fluent: Experiment with name 'random-forest-train' does not exist. Creating a new experiment.

In [13]:
!python /home/habeeb/Mlops-proj/02-experimental_tracking/homework_dtc_solution/hpo.py --data_path /home/habeeb/Mlops-proj/02-experimental_tracking/output --num_trials 15

2025/05/26 19:42:06 INFO mlflow.tracking.fluent: Experiment with name 'random-forest-hyperopt' does not exist. Creating a new experiment.
100%|██████████| 15/15 [01:08<00:00,  4.56s/trial, best loss: 5.335419588556921]

mlflow server \
  --backend-store-uri sqlite:///mlflow.db \
  --default-artifact-root ./artifacts \
  --host 0.0.0.0 \
  --port 5000

In [14]:
!python /home/habeeb/Mlops-proj/02-experimental_tracking/homework_dtc_solution/register_model.py --data_path /home/habeeb/Mlops-proj/02-experimental_tracking/output

2025/05/26 19:43:17 INFO mlflow.tracking.fluent: Experiment with name 'random-forest-best-models' does not exist. Creating a new experiment.
Successfully registered model 'rf-best-model'.
Created version '1' of model 'rf-best-model'.